<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c)  Microsoft.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->
<configuration>
  <packageSources>
    <clear />
    <add key="ibc-merge-feed" value="https://devdiv.pkgs.visualstudio.com/_packaging/8f470c7e-ac49-4afe-a6ee-cf784e438b93/nuget/v3/flat2/microsoft.dotnet.ibcmerge/index.json" />
    <add key="vsts-drop-feed" value="https://1essharedassets.pkgs.visualstudio.com/_packaging/Artifact/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
